https://github.com/chipsalliance/f4pga/archive/main.zip#subdirectory=f4pga
https://github.com/QuickLogic-Corp/quicklogic-fasm/archive/aaf4c314a165b6185b0983019d8aae4d0d4db6cb.zip#quicklogic_fasm
fasm
simplejson
