https://github.com/Dasharo/f4pga/archive/630df6f07a5961fc840ee42899732afd9807deff.zip#subdirectory=f4pga
https://github.com/QuickLogic-Corp/quicklogic-fasm/archive/aaf4c314a165b6185b0983019d8aae4d0d4db6cb.zip#quicklogic_fasm
fasm
simplejson
